
.blackcolordiv{
  background-color: #181c24;
  width: 100%;
  height: 94vh;
  color: white;
  overflow-x: hidden;
  position: relative;
}

.navbar-custom{
  background-color: #181c24;
  height: 6vh;
  z-index: 1000000000;
  position: relative;
}

.seperate{
  margin-top: 1vh;
margin-left: 25%;
border-width: 1vh;
display: inline-block;
text-decoration: none;
color: white;
font-size: 2vh;
}

.seperate:after{
  content: '';
  display: block;
  border-bottom: 1px solid orange;
  margin-bottom: .01rem;
  border-width: .2rem;
}

.headerdiv{
  margin-top: 26.5vh;
  margin-left: 10%;
  position: absolute;


}

.fontdif{
  z-index: 1111110;
  font-family: 'Antic Didone', serif;
  font-size: 8vh;
}
.fontdif2{
  z-index: 1111110;
  font-family: 'Antic Didone', serif;
  font-size: 8vh;
}
.fontdif2:after{
  content: '';
  display: block;
  border-bottom: 1px solid tomato;
  margin-top: -3.5vh;
  border-width: 3vh;
  width: 37vh;
}

.fontdifp{
  font-family: 'Antic Didone', serif;
  font-size: 2.1vh;
  width: 42vh;

}

.github{
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 4vh;
  filter: invert(60%) sepia(40%) saturate(6578%) hue-rotate(334deg) brightness(105%) contrast(101%);
  transition: all 0.3s ease;
}




.github:hover{
  filter: invert(96%) sepia(97%) saturate(12%) hue-rotate(237deg) brightness(103%) contrast(103%);
}


.outerdiv{
  background-color: #1c1c24;
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.polydiv{
  background-color: tomato;
  height: 100%;
  width: 100%;
  /* clip-path: polygon(54% 9%, 100% 19%, 100% 91%, 30% 100%, 0 91%, 0 0); */
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 95%);
}

 .polycontent{
  width: 100%;
  position: static;
  overflow: hidden;
} 

.polyh1{
  text-align: center;
  margin-top: 17vh;
  font-family: 'Antic Didone', serif;
}
.polyh2{
text-align: center;
font-family: 'Antic Didone', serif;;
}
.svgimg{
  height: 7vh;
  margin-top: 5vh;
}


.lift{
  height: auto;
  margin-top: 0vh;
  margin-left: 30vw;
  overflow: hidden;
  position: static;
}
.fig{
  margin-top: -3vh;
  font-size: 2vh;
  position: absolute;
}

.liftimg{
  height: 10vh;
  display: block;
  margin-top: 0vh;
  margin-left: -2%;
}

@media only screen and (max-width: 1380px){
  .lift{
    height: 45vh;
    margin-left: 58vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 1280px){
  .lift{
    height: 45vh;
    margin-left: 58vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 1024px){
  .lift{
    height: 45vh;
    margin-left: 63vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 912px){
  .lift{
    height: 45vh;
    margin-left: 13vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 768px){
  .lift{
    height: 45vh;
    margin-left: 17vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}


@media only screen and (max-width: 450px){
  .lift{
    height: 45vh;
    margin-left: .5vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 375px){
  .lift{
    height: 45vh;
    margin-left: 7vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 285px){
  .lift{
    height: 45vh;
    margin-left: 7vh;
    margin-top: 0vh;
  }
  .fig{
    position: relative;
    margin-top: 0vh;

  }
}





























/* Cat Animation Starts */
.cat1{
  height: 5rem;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  margin-top: 10vh;
  margin-left: 10vh;
  position:absolute;
}
.cat2{
  height: 6rem;
  margin-top: 36vh;
  margin-left: 20%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 220s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat3{
  height: 6rem;
  margin-top: 42vh;
  margin-left: 70%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 160s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat4{
  height: 3rem;
  margin-top: 62vh;
  margin-left: 77%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 160s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat5{
  height: 2rem;
  margin-top: 13vh;
  margin-left: 50% ;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat6{
  height: 5rem;
  margin-top: 57vh;
  margin-left: 54%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat7{
  height: 4.5rem;
  margin-top: 57vh;
  margin-left: -5vh;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat8{
  height: 4.5rem;
  margin-top: 34vh;
  margin-left: -20%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 230s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat9{
  height: 4.5rem;
  margin-top: 48vh;
  margin-left: -23vh;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat10{
  height: 5.5rem;
  margin-top: 23vh;
  margin-left: -13vh;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat11{
  height: 5rem;
  margin-top: 69vh;
  margin-left: 35%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat12{
  height: 5rem;
  margin-top: 5vh;
  margin-left: 35%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat13{
  height: 5.5rem;
  margin-top: 40vh;
  margin-left: 40%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat14{
  height: 4.5rem;
  margin-top: 35vh;
  margin-left: 60%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 180s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat15{
  height: 4rem;
  margin-top: 25vh;
  margin-left: 73%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 180s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat16{
  height: 5rem;
  margin-top: 68vh;
  margin-left: 12%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 180s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat17{
  height: 5rem;
  margin-top:25vh;
  margin-left: 30%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat18{
  height: 5.5rem;
  margin-top: 77vh;
  margin-left: 55%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 190s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat19{
  height: 4.5rem;
  margin-top: 60vh;
  margin-left: 22%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 210s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat20{
  height: 5.5rem;
  margin-top: 32vh;
  margin-left: 10%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat21{
  height: 5rem;
  margin-top: 25vh;
  margin-left: 50%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 190s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat22{
  height: 4rem;
  margin-top: 20vh;
  margin-left: 48%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 190s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat23{
  height: 5.6rem;
  margin-top: 63vh;
  margin-left: 20%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 190s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat24{
  height: 4rem;
  margin-top: 13vh;
  margin-left: 20%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat25{
  height: 2.8rem;
  margin-top: 55vh;
  margin-left: 10%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 200s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat26{
  height: 4rem;
  margin-top: 13vh;
  margin-left: -20%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 215s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat27{
  height: 5.5rem;
  margin-top: 45vh;
  margin-left: -45%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 242s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat28{
  height: 5rem;
  margin-top: 25vh;
  margin-left: -35%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 237s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat29{
  height: 4.3rem;
  margin-top: 65vh;
  margin-left: -30%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 235s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat30{
  height: 4.5rem;
  margin-top: 79vh;
  margin-left: -10%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 220s linear 0s 1 slideInLeft2;
  animation-fill-mode: forwards;
  position:absolute;
}
.cat31{
  height: 5rem;
  margin-top: 13vh;
  margin-left: -15%;
  width: 10%;
  filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  animation: 220s linear 0s 1 slideInLeft1;
  animation-fill-mode: forwards;
  position:absolute;
}



@keyframes slideInLeft1 {
  0% {
    transform: translateY(-16%);
    transform: translateX(0%);
    opacity: 0;
  }
  1.5%{
    opacity:.7;
  }
  2.5%{transform: translateY(15%)
    translateX(30%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  5%{transform: translateY(-13%)
    translateX(60%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }

  7.5%{transform: translateY(16%)
    translateX(90%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  10%{transform: translateY(-14%)
    translateX(120%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }

  12.5%{transform: translateY(15%)
    translateX(150%);
  }
  15%{transform: translateY(-15%)
    translateX(180%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }

  17.5%{transform: translateY(14%)
    translateX(210%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  20%{transform: translateY(-15%)
    translateX(230%);
  }

  22.5%{transform: translateY(17%)
    translateX(260%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }

  25%{transform: translateY(-15%)
    translateX(300%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  27.5%{transform: translateY(15%)
    translateX(330%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  30%{transform: translateY(-16%)
    translateX(360%);
  }
  32.5%{transform: translateY(18%)
    translateX(390%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  35%{transform: translateY(-16%)
    translateX(420%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  37.5%{transform: translateY(17%)
    translateX(450%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  40%{transform: translateY(-15%)
    translateX(480%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  42.5%{transform: translateY(17%)
    translateX(510%);
  }
  45%{transform: translateY(-16%)
    translateX(540%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  47.5%{transform: translateY(16%)
    translateX(570%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  50%{transform: translateY(17%)
    translateX(600%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  52.5%{transform: translateY(17%)
    translateX(630%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  55%{transform: translateY(17%)
    translateX(660%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  57.5%{transform: translateY(17%)
    translateX(690%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  60%{transform: translateY(17%)
    translateX(720%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  62.5%{transform: translateY(17%)
    translateX(750%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  65%{transform: translateY(17%)
    translateX(780%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  67.5%{transform: translateY(17%)
    translateX(810%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  70%{transform: translateY(17%)
    translateX(840%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  72.5%{transform: translateY(17%)
    translateX(870%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  75%{transform: translateY(17%)
    translateX(900%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  77.5%{transform: translateY(17%)
    translateX(930%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  80%{transform: translateY(17%)
    translateX(960%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  82.5%{transform: translateY(17%)
    translateX(990%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  85%{transform: translateY(17%)
    translateX(1020%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  87.5%{transform: translateY(17%)
    translateX(1050%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  90%{transform: translateY(17%)
    translateX(1080%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  92.5%{transform: translateY(17%)
    translateX(1100%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  95%{transform: translateY(17%)
    translateX(1130%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  97.5%{transform: translateY(17%)
    translateX(1160%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  100% {
    transform: translateY(-16%) translateX(1200%);
  }

}

@keyframes slideInLeft2 {
  0% {
    transform: translateY(-16%);
    transform: translateX(0%);
    opacity: 0;
  }
  1.5%{
    opacity:.7;
  }
  2.5%{transform: translateY(15%)
    translateX(30%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  5%{transform: translateY(-13%)
    translateX(60%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  7.5%{transform: translateY(16%)
    translateX(90%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  10%{transform: translateY(-14%)
    translateX(120%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  12.5%{transform: translateY(15%)
    translateX(150%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  15%{transform: translateY(-15%)
    translateX(180%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }

  17.5%{transform: translateY(14%)
    translateX(210%);
   
  }
  20%{transform: translateY(-15%)
    translateX(230%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }

  22.5%{transform: translateY(17%)
    translateX(260%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }

  25%{transform: translateY(-15%)
    translateX(300%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  27.5%{transform: translateY(15%)
    translateX(330%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  30%{transform: translateY(-16%)
    translateX(360%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  32.5%{transform: translateY(18%)
    translateX(390%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  35%{transform: translateY(-16%)
    translateX(420%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  37.5%{transform: translateY(17%)
    translateX(450%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  40%{transform: translateY(-15%)
    translateX(480%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  42.5%{transform: translateY(17%)
    translateX(510%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  45%{transform: translateY(-16%)
    translateX(540%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  47.5%{transform: translateY(16%)
    translateX(570%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  50%{transform: translateY(17%)
    translateX(600%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  52.5%{transform: translateY(17%)
    translateX(630%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  55%{transform: translateY(17%)
    translateX(660%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  57.5%{transform: translateY(17%)
    translateX(690%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  60%{transform: translateY(17%)
    translateX(720%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  62.5%{transform: translateY(17%)
    translateX(750%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  65%{transform: translateY(17%)
    translateX(780%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  67.5%{transform: translateY(17%)
    translateX(810%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  70%{transform: translateY(17%)
    translateX(840%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  72.5%{transform: translateY(17%)
    translateX(870%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  75%{transform: translateY(17%)
    translateX(900%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  77.5%{transform: translateY(17%)
    translateX(930%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  80%{transform: translateY(17%)
    translateX(960%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  82.5%{transform: translateY(17%)
    translateX(990%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  85%{transform: translateY(17%)
    translateX(1020%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  87.5%{transform: translateY(17%)
    translateX(1050%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  90%{transform: translateY(17%)
    translateX(1080%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  92.5%{transform: translateY(17%)
    translateX(1100%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  95%{transform: translateY(17%)
    translateX(1130%);
    filter: invert(52%) sepia(8%) saturate(321%) hue-rotate(182deg) brightness(91%) contrast(94%); /* Dark */
  }
  97.5%{transform: translateY(17%)
    translateX(1160%);
    filter: invert(96%) sepia(5%) saturate(986%) hue-rotate(201deg) brightness(70%) contrast(86%);/* Light */
  }
  100% {
    transform: translateY(-16%) translateX(1200%);
  }

}



/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}